.card {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  border-radius: 10px;
  overflow: hidden;
}

.card__image {
  width: 282px;
  height: 282px;
}

.card__description {
  display: flex;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  justify-content: space-between;
}

.card__title {
  font-family: "Inter", Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: black;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  margin: 5px;
  flex: 0 0 21px;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
}

.card__like-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button {
background: url(../images/delete-button.svg) center no-repeat;
  position: absolute;
  width: 18px;
  height: 19.3px;
  border: none;
  margin: 18px 0 15px 244px;
}

.card__delete-button:hover {
  opacity: 50%;
  cursor: pointer;
}

.card__delete-button:active {
  background-image: none;
}


@media screen and (max-width: 420px) {
  .card__like-button {
    margin: 10px;
    padding: 10px;
  }
}
