.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-bottom: 1px solid;
  opacity: 70%;
  padding-bottom: 41px;
}

@media screen and (max-width: 480px) {
  .header {
    width: 320px;
    min-height: 56px;

    padding: 0;
  }
}
