.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  opacity: 70%;
  padding-bottom: 41px;
}

@media screen and (max-width: 700px) {
  .header {
    width: 320px;
    min-height: 56px;

    padding: 0;
  }

  .header__title {
    max-width: 126px;
    min-height: 24px;
    margin: 28px 167px 32px 27px;
  }
}
