@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__info {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 80%;
  }

  .header {
    width: 320px;
    height: 56px;
    border-bottom: 1px solid;
    border-bottom-color: #545454;
    padding-bottom: 41px;
  }

  .footer {
    max-width: 282px;
  }
}
