.modal_preview {
    position: fixed;
}

.modal__preview-image{
    max-width: 75vw;
    max-height: 75vh;
}

.modal__container_preview {
    position: inherit;
   max-width: 75vw;
    max-height: 75vh;
    display: flex;
    flex-direction: column;
    animation: fade-inout 0.8s linear;
    align-content: center;

}

.modal__close .modal__close_preview {
    position: absolute;
    top: 41px;
    left: 878px;
}

.modal__caption {
    max-width: 291px;
    max-height: 12px;
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    font-family: "Inter", Arial, sans-serif;
    letter-spacing: 0;
    margin: 10px;
    padding: 0;
}



@keyframes fade-inout {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
