@import url("../Vendor/normalize.css");
@import url("../Vendor/fonts.css");
@import url("../Blocks/header.css");
@import url("../Blocks/profile.css");
@import url("../Blocks/cards.css");
@import url("../Blocks/media.css");

.footer {
  max-width: 880px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
